<section class="aboutus">
  <div class="container">
    <div class="aboutus-content">
      <h2 class="aboutus-title">
        YachtJet fleet is here to take you on the ultimate adventure
      </h2>
      <div class="aboutus-descr">
        <p class="aboutus-subtitle">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </p>
        <p class="aboutus-text">
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </p>
      </div>
      <img
        class="aboutus-image"
        src="./node_modules/src/img/aboutus/jacht-mob-1x.jpg"
        srcset="
          /node_modules/src/img/aboutus/jacht-mob-1x.png 1x,
          /node_modules/src/img/aboutus/jacht-mob-2x.png 2x
        "
        alt="jacht-at-night"
        width="56"
        height="56"
      />
    </div>
  </div>
</section>
