<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages-yacht">
      <ol class="advantages-list">
        <li class="advantages-item">
          <h3 class="advantages-header">01</h3>
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">02</h3>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">03</h3>
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">04</h3>
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="advantages-img">
      <picture>
        <source
          srcset="
            /img/advantages/advant-desc-big.png    1x,
            /img/advantages/advant-desc-big@2x.png 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            /img/advantages/advant-desc.png    1x,
            /img/advantages/advant-desc@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /img/advantages/advant-tab.png    1x,
            /img/advantages/advant-tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/advantages/advant-mob.png    1x,
            /img/advantages/advant-mob@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="/img/advantages/advant-desk.png"
          class="advantages-image"
          alt="Dining place on a posh yacht"
        />
      </picture>
    </div>
  </div>
</section>
