<section class="container">
    <div class="info-box">
        <div class="info-item">
            <h2>01</h2>
            <div class="line"></div>
            <p>Swimming and water sports: try your hand at water skiing</p>
        </div>
        <div class="info-item">
            <h2>02</h2>
            <div class="line"></div>
            <p>Fishing: try to catch your own dinner</p>
        </div>
        <div class="info-item">
            <h2>03</h2>
            <div class="line"></div>
            <p>Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
        </div>
        <div class="info-item">
            <h2>04</h2>
            <div class="line"></div>
            <p>Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere</p>
        </div>
    </div>
    <div class="image-box">
        <img src="images/yacht.png" alt="Luxury Yacht">
    </div>
</section>