<footer class="footer">
  <div class="container footer-container">
    <div class="footer-div">
      <div class="footer-h">
        <a href="../index.html" class="footer-logo">yachtjet</a>
        <nav class="footer-nav">
          <ul class="footer-menu">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#about">About</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#yachts">Yachts</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <div class="footer-soc-media">
          <ul class="footer-socials">
            <li class="footer-soc-icon">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-soc-link"
                target="_blank"
              >
                <svg class="footer-icon" width="19" height="19">
                  <use href="/img/icon.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-icon">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-soc-link"
                target="_blank"
              >
                <svg class="footer-icon" width="20" height="20">
                  <use href="/img/icon.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-icon">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-soc-link"
                target="_blank"
              >
                <svg class="footer-icon" width="20" height="20">
                  <use href="/img/icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-text">
        <p class="footer-slogan">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable.
        </p>
      </div>
      <div class="privacy">
        <p class="privacy-text">2023. Yacht Adventures</p>
        <p class="privacy-text">Privacy Police</p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
