<footer class="footer">
  <div class="footer-div">
    <div class="footer-div-ppp">
      <div class="logo-footer">
        <a href="" class="">yachtjet</a>
      </div>
      <div class="footer-div-cont">
        <ul class="footer-menu">
          <li class="footer-li"><a href="">About</a></li>
          <li class="footer-li"><a href="">Yachts</a></li>
          <li class="footer-li"><a href="">Reviews</a></li>
        </ul>
      </div>
    </div>
    <ul class="footer-ul">
      <li>
        <svg class="footer-sv" width="19" height="19">
          <use class="footer-svg" href="./img/icon.svg#icon-instagtam"></use>
        </svg>
      </li>
      <li>
        <svg class="footer-sv" width="20" height="20">
          <use class="footer-svg" href="./img/icon.svg#icon-youtube"></use>
        </svg>
      </li>
      <li>
        <svg class="footer-sv" width="20" height="20">
          <use class="footer-svg" href="./img/icon.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
    <div class="footer-txt-div">
      <p class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>
    <p class="info">
      2023. Yacht Adventures
      <a class="info-link" href="">Privacy Policy</a>
    </p>
  </div>
</footer>
