<section class="our-yachts-section" id="our-yachts">
  <div class="our-yachts-section-cont container">
    <h2 class="our-yachts-section-header">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-section-list">
      <li class="our-yachts-section-list-item our-yachts-section-cart">
        <picture class="our-yachts-section-cart-img">
          <source
            srcset="
              img/ouryachts/arrow-m.webp    1x,
              img/ouryachts/arrow-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              img/ouryachts/arrow-t.webp    1x,
              img/ouryachts/arrow-t@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              img/ouryachts/arrow-d.webp    1x,
              img/ouryachts/arrow-d@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              img/ouryachts/arrow-dw.webp    1x,
              img/ouryachts/arrow-dw@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="img/ouryachts/arrow-m.webp" alt="Arrow yacht" />
        </picture>
        <div class="our-yachts-section-cart-texts">
          <h3 class="our-yachts-section-cart-header">
            <span class="our-yachts-section-cart-header-main-text">Arrow</span>
            <span class="our-yachts-section-cart-header-span"
              >LUXURY YAHTS</span
            >
          </h3>
          <p class="our-yachts-section-cart-property">
            LENGTH
            <span class="our-yachts-section-cart-property-span"
              >48m(155ft)</span
            >
          </p>
          <p class="our-yachts-section-cart-property">
            BUILDER
            <span class="our-yachts-section-cart-property-span">Admiral</span>
          </p>
          <p class="our-yachts-section-cart-property">
            BUILT
            <span class="our-yachts-section-cart-property-span">2021</span>
          </p>

          <p class="our-yachts-section-cart-property">
            GUESTS
            <span class="our-yachts-section-cart-property-span"
              >11 in 5 cabins</span
            >
          </p>

          <p class="our-yachts-section-cart-property last-row">
            PRICE
            <span class="our-yachts-section-cart-property-span"
              >€33,500,000</span
            >
          </p>
        </div>
      </li>
      <li class="our-yachts-section-list-item our-yachts-section-cart">
        <picture class="our-yachts-section-cart-img">
          <source
            srcset="
              img/ouryachts/oasis-m.webp    1x,
              img/ouryachts/oasis-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              img/ouryachts/oasis-t.webp    1x,
              img/ouryachts/oasis-t@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              img/ouryachts/oasis-d.webp    1x,
              img/ouryachts/oasis-d@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              img/ouryachts/oasis-dw.webp    1x,
              img/ouryachts/oasis-dw@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="img/ouryachts/oasis-m.webp" alt="Arrow yacht" />
        </picture>
        <div class="our-yachts-section-cart-texts">
          <h3 class="our-yachts-section-cart-header">
            <span class="our-yachts-section-cart-header-main-text"
              >BENETTI OASIS 40M BO122</span
            >
            <span class="our-yachts-section-cart-header-span"
              >LUXURY YAHTS</span
            >
          </h3>
          <p class="our-yachts-section-cart-property">
            LENGTH
            <span class="our-yachts-section-cart-property-span"
              >41m (133ft)</span
            >
          </p>
          <p class="our-yachts-section-cart-property">
            SHIPYARD
            <span class="our-yachts-section-cart-property-span">Benetti</span>
          </p>
          <p class="our-yachts-section-cart-property">
            BUILT
            <span class="our-yachts-section-cart-property-span">2025</span>
          </p>

          <p class="our-yachts-section-cart-property">
            GUESTS
            <span class="our-yachts-section-cart-property-span"
              >10 in 5 cabins</span
            >
          </p>

          <p class="our-yachts-section-cart-property last-row">
            PRICE
            <span class="our-yachts-section-cart-property-span"
              >€23,210,000</span
            >
          </p>
        </div>
      </li>
      <li class="our-yachts-section-list-item our-yachts-section-cart">
        <picture class="our-yachts-section-cart-img">
          <source
            srcset="
              img/ouryachts/anna-m.webp    1x,
              img/ouryachts/anna-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              img/ouryachts/anna-t.webp    1x,
              img/ouryachts/anna-t@2x.webp 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              img/ouryachts/anna-d.webp    1x,
              img/ouryachts/anna-d@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              img/ouryachts/anna-dw.webp    1x,
              img/ouryachts/anna-dw@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="img/ouryachts/anna-m.webp" alt="Arrow yacht" />
        </picture>
        <div class="our-yachts-section-cart-texts">
          <h3 class="our-yachts-section-cart-header">
            <span class="our-yachts-section-cart-header-main-text"
              >BELLE ANNA</span
            >
            <span class="our-yachts-section-cart-header-span"
              >LUXURY YAHTS</span
            >
          </h3>
          <p class="our-yachts-section-cart-property">
            LENGTH
            <span class="our-yachts-section-cart-property-span"
              >50m(155ft)</span
            >
          </p>
          <p class="our-yachts-section-cart-property">
            SHIPYARD
            <span class="our-yachts-section-cart-property-span">ISA</span>
          </p>
          <p class="our-yachts-section-cart-property">
            BUILT
            <span class="our-yachts-section-cart-property-span">2012</span>
          </p>

          <p class="our-yachts-section-cart-property">
            GUESTS
            <span class="our-yachts-section-cart-property-span"
              >12 in 6 cabins</span
            >
          </p>

          <p class="our-yachts-section-cart-property last-row">
            PRICE
            <span class="our-yachts-section-cart-property-span"
              >€21,000,000</span
            >
          </p>
        </div>
      </li>
    </ul>
    <button
      class="our-yachts-section-button"
      type="button"
      onclick="location.href='#section-rent'"
      aria-label="go to yacht rental section"
    >
      Yacht rental
    </button>
  </div>
</section>
