<section class="our-yachts-section">
  <div class="our-yachts-section-cont container">
    <h2 class="our-yachts-section-header">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-section-list">
      <li class="our-yachts-section-list-item">
        <div class="our-yachts-section-cart">
          <picture class="our-yachts-section-cart-img">
            <source
              srcset="
                img/ouryachts/arrow-m.jpg    1x,
                img/ouryachts/arrow-m@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                img/ouryachts/arrow-t.jpg    1x,
                img/ouryachts/arrow-t@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                img/ouryachts/arrow-d.jpg    1x,
                img/ouryachts/arrow-d@2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                img/ouryachts/arrow-dw.jpg    1x,
                img/ouryachts/arrow-dw@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="img/ouryachts/arrow-m.jpg"
              alt="Arrow yacht"
              width="302"
              height="240"
            />
            <div class="our-yachts-section-cart-texts">
              <h3 class="our-yachts-section-cart-header">
                Arrow
                <span class="our-yachts-section-cart-header-span"
                  >LUXURY YAHTS</span
                >
              </h3>
              <p class="our-yachts-section-cart-property">
                LENGTH
                <span class="our-yachts-section-cart-property-span"
                  >48m(155ft)</span
                >
              </p>
              <p class="our-yachts-section-cart-property">
                BUILDER
                <span class="our-yachts-section-cart-property-span"
                  >Admiral</span
                >
              </p>
              <p class="our-yachts-section-cart-property">
                BUILT
                <span class="our-yachts-section-cart-property-span">2021</span>
              </p>

              <p class="our-yachts-section-cart-property">
                GUESTS
                <span class="our-yachts-section-cart-property-span"
                  >11 in 5 cabins</span
                >
              </p>

              <p class="our-yachts-section-cart-property last-row">
                PRICE
                <span class="our-yachts-section-cart-property-span"
                  >€33,500,000</span
                >
              </p>
            </div>
          </picture>
        </div>
      </li>
    </ul>
    <button
      class="our-yachts-section-button"
      type="button"
      onclick="location.href='#rent-a-yacht'"
    >
      Yacht rental
    </button>
  </div>
</section>
