.aboutus {}

.container {}

.aboutus-container {
    padding: 40px 20px 90px 20px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: none;
    background-color:#fbfbfb;
    text-align: left;
}

.aboutus-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 40px;
}
.aboutus-descr-container {
    flex-direction: column;
    gap: 20px;
}

.aboutus-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.aboutus-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #040306;
    margin-bottom: 40px;
}