.hero {
    position: relative; 
    max-width: 375;
    margin: 0 auto;
    background-image: linear-gradient(rgba(17, 19, 31, 0.8), 
    rgba(17, 19, 31, 0.8)), url(/img/background-mob.jpg);
     
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 260px;
     padding-bottom: 302px;
}

.hero-title {
     font-weight: 500;
     font-size: 32px;
     line-height: 1;
     letter-spacing: -0.02em;
     text-align: center;
     color: #fbfbfb;
     max-width: 335px;
     margin: 0 auto;
     margin-bottom: 24px;
}

.hero-text {
     font-weight: 300;
     font-size: 12px;
     line-height: 1.17;
     text-align: center;
     color: rgba(251, 251, 251, 0.7);
     max-width: 335px;
     margin: 0 auto;
     margin-bottom: 38px;
}

.hero-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 15px;
     padding: 14px 32px;
     width: 141px;
     height: 46px;
     margin: 0 auto;
     background-color: #1b414b;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.29;
     letter-spacing: -0.02em;
     color: #fbfbfb;
     transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

      .hero-btn:hover, 
      .hero-btn:focus {
      background-color: #fbfbfb;
      color: #1b414b;
}

@media screen and (max-width: 767px) and (min-resolution: 2x) {
     .hero {
      background-image: linear-gradient(rgba(17, 19, 31, 0.8),
      rgba(17, 19, 31, 0.8)), url(/img/background-mob@2x.jpg)
     } 
      
}

@media screen and (min-width: 768px) {

    .hero {
      max-width: 768px;
      background-image: linear-gradient(rgba(17, 19, 31, 0.8),
      rgba(17, 19, 31, 0.8)), url(/img/background-tab.jpg);
      padding-top: 280px;
      padding-bottom: 282px;
    }

    .hero-title {
      max-width: 650px;
      font-size: 70px;
      
    }

    .hero-text {
      font-size: 16px;
      line-height: 1.4;
      max-width: 597px;
      margin-bottom: 48px;
    }

    .hero-btn {
      border-radius: 15px;
      padding: 16px 40px;
      min-width: 179px;
      height: 52px;
      font-size: 14px;
      line-height: 1.29;
    }
}


@media screen and (min-width: 768px) and (min-resolution: 2x) {
      .hero {
      background-image: linear-gradient(rgba(17, 19, 31, 0.8),
      rgba(17, 19, 31, 0.8)), url(/img/background-tab@2x.jpg)
     }

}

@media screen and (min-width: 1280px) {
     .hero {
           max-width: 1280px;
           background-image: linear-gradient(rgba(17, 19, 31, 0.8),
           rgba(17, 19, 31, 0.8)), url(/img/background-desk.jpg);
          padding-top: 235px;
          padding-bottom: 215px;
     }
          .hero-title {
               max-width: 1001px;
               font-size: 80px
          }
}

@media screen and (min-width: 1280px) and (min-resolution: 2x) {
      .hero {
      background-image: linear-gradient(rgba(17, 19, 31, 0.8),
      rgba(17, 19, 31, 0.8)), url(/img/background-desk@2x.jpg)
     }

}


@media screen and (min-width: 1440px) {
      .hero {
           max-width: 1440px;
           background-image: linear-gradient(rgba(17, 19, 31, 0.8),
           rgba(17, 19, 31, 0.8)), url(/img/background-desk-big.jpg);
          
     }

}

@media screen and (min-width: 1440px) and (min-resolution: 2x) {
      .hero {
           background-image: linear-gradient(rgba(17, 19, 31, 0.8),
           rgba(17, 19, 31, 0.8)), url(../img/background-desk-big@2x.jpg)
     }

}

