.rent-section {
  padding: 40px 0px 40px 0;
}
.rent-heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.rent-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.rent-form-input {
  color: #fbfbfb;
  background-color: transparent;
  outline: none;
  padding: 14px 18px 14px 18px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 261px 14px 18px;
  width: 100%;
  height: 42px;
  transition: border 250ms Ease;
}
.rent-form-input::placeholder {
  overflow: visible;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: rgba(251, 251, 251, 0.4);
}
.rent-form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.rent-textarea {
  white-space: nowrap;
  resize: none;
  height: 108px;
}
.rent-form-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: none;
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  margin-top: 40px;
  margin-bottom: 80px;
  background: #1b414b;
  transition: background-color 250ms Ease;
  transition: color 250ms Ease;
}
.rent-form-button:hover,
.rent-form-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.rent-img {
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 768px) {
  .rent-section {
    padding: 75px 0 75px 0;
  }
  .rent-heading {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .rent-text-container {
    max-width: 472px;
    width: 100%;
    margin: 0 auto;
  }
  .rent-form-input {
    height: 54px;
  }
  .rent-form-input::placeholder {
    font-size: 14px;
    line-height: 129%;
  }
  .rent-textarea {
    height: 116px;
  }
  .rent-form-button {
    margin-top: 50px;
    padding: 18px 75px;
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 110%;
  }
}
@media screen and (min-width: 1280px) {
  .rent-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
  }
  .rent-text-container {
    margin: 0;
  }
  .rent-form-button {
    margin-bottom: 0;
  }
}

@media screen and (min-width:1440px) {
  .rent-container {
    padding-left: 50px;
    padding-right: 100px;
  } 
}
