/* .reviews {
    margin-bottom: 80px;
}
.reviews-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}
.reviews-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}
.reviews-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
}
.reviews-list {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;

}
.reviews-item {
}
.reviews-subtitle {
}
.reviews-subtext {
} */