.reviews {
  padding: 40px 0;
}
.reviews-content {
  max-width: 315px;
  display: block;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}
.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
}
.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.reviews-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 335px;
  padding: 32px 16px;
  background-color: #fbfbfb;
  border-radius: 24px;
}
.reviews-foto {
  margin-bottom: 24px;
}
.reviews-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}
.reviews-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 75px 0;
  }
  .reviews-content {
    max-width: 704px;
    margin-bottom: 75px;
  }
  .reviews-title {
    font-size: 48px;
  }
  .reviews-text {
    max-width: 571px;
    font-size: 14px;
    line-height: 1.29;
    margin: 0 auto;
  }
  .reviews-item {
    max-width: 336px;
  }
  .reviews-item:nth-child(2) {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    clip: auto;
    clip-path: inset(0%);
    overflow: visible;
    white-space: normal;
    padding: 32px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-content {
    max-width: 800px;
  }
  .reviews-item {
    max-width: 376px;
    padding: 32px 28px;
  }
  .reviews-item:nth-child(2) {
    max-width: 376px;
    padding: 32px 28px;
  }
  .reviews-item:nth-child(3) {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    clip: auto;
    clip-path: inset(0%);
    overflow: visible;
    white-space: normal;
    max-width: 376px;
    padding: 32px 28px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-list {
    gap: 32px;
  }
  .reviews-item {
    max-width: 392px;
    padding: 32px 36px;
  }
  .reviews-item:nth-child(2) {
    max-width: 392px;
    padding: 32px 36px;
  }
  .reviews-item:nth-child(3) {
    max-width: 392px;
    padding: 32px 36px;
  }
}
